<?xml version='1.0' encoding='utf-8'?>
<widget id="com.punchlinead.realestate" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Real Estate Know-It-All</name>
    <description>
       This study aide helps you learn vocabulary words, terms, and concepts you need to know in order to ace your state real estate agent exam.
    </description>
    <author email="mike@punchlinead.com" href="http://punchlinead.com">
        Punchline Advertising
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <gap:splash gap:platform="ios" height="480" src="res/splash/Default~iphone.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/splash/Default@2x~iphone.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/splash/Default-Portrait~ipad.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/splash/Default-Landscape~ipad.png" width="1024" />
    <access origin="http://127.0.0.1*" />
    <content src="index.html" />
</widget>
